{% extends "goalify/layout.html" %}

{% block body %}
<h1 class="header">Goals Completed</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th class="table_info" scope="col">Goal</th>
        <th class="table_info" scope="col">Duration of Goal</th>
        <th class="table_info" scope="col">Goal Frequency</th>
      </tr>
    </thead>
    <tbody>
    {% for histories in history %}
      <tr>
            <td class="table_result">{{ histories.name }}</td>
            <td class="table_result">{{ histories.goal_time }} minutes</td>
            <td class="table_result">{{ histories.frequency }}</td>           
      </tr>
    {% endfor %}
{% endblock %}