{% extends "goalify/layout.html" %}

{% block body%}
<script>
    function customize(){
        var color_form = document.getElementById("journal_color");
        var color = color_form.value;
        var change = document.getElementById('journal-design').src = `/static/Images/${color}.png`;
    }
</script>
    <h3>Hello, {{ request.user.username }}.</h3>
    <div class="journal-form">
        <form action="" method="POST" onchange="customize(this)">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Add Journal</button>
        </form>
    </div>
    <img id="journal-design" src="/static/Images/Red.png" alt="journal-pic"></img>
    <h1>Your Journals</h1>
    <div>
        {% for journal in journals %}
            <img id="journal-design" src="{{ journal.journal_style.url }}">
            <p><a href= "{% url 'entry' journal_id=journal.id %}">{{ journal.journal_name }}</a></p>
        {% endfor %}
    </div>
    <h1>Goal Tracker</h1>
{% endblock %}