@import url('style.css');

body {
    background-color: #E8D9D5;
}
#journal-design{
    width: 40px;
}

#journal-design_big{
    width: 150px;
}

.journal-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;

}

#submit_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#books {
    text-align: center;
}


.buttony {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

#pause, #resume {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.header, .moving_time {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: sans-serif;
}

.header {
    font-size: 30px;
}

.row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formy{
    margin-top: 10px;
    margin-bottom: 10px;
}

.goal-form {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.color_picker {
    margin-top: 20px;
}
.color {

    width: 30px;
}

.color:hover {
    border: solid 2px black;
}

.clicked {
    border: solid 2px black;
}

#rowy {
    border: 1px solid;
}

.message{
    color: red;
    text-align: center;
    margin-bottom: 15px;
}



.journal_creation, .journal_button{
    display: inline-block;
}



.moving_time {
    font-family: monospace;
    text-align: center;
    font-size: 60px;
    margin: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #0e5487;
}

.time_border {
    border: 15px solid #0e5487;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.timer_body{
    background-color: black;
}

.greeting {
    margin-top: 30px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0e5487;
}

.spaced {
    margin: 100px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0e5487;
}

.journal-name {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color: #0e5487;
}

.locked-text {
    color: #0e5487;
}


.table_info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #0e5487;
}

.table_result {
    font-family: Arial, Helvetica, sans-serif;
    color: #0e5487;
    font-size: 12px;
}

#goals{
    width:250px;
    margin: 5px;
}

#add {
    color: black;
}

#journal_submit {
    height: 40px;
}

#journal_name {
    height: 35px;
}

.btn {
    border: #ff6347;
}

.btn:hover .fa-circle-plus {
    color: #ff6347;
}

.fa-circle-plus:hover {
    background-color: #E8D9D5;

}

.entry-form {
    text-align: center;
}

.card{
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-top: 25px;
}

.page {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    margin: 0 5px; /* Adjust the margin as needed for spacing between items */
}

.nav-link {
    text-decoration: none;
    color: white;
}

.entry {
    margin: 20px;
}

.form-control {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h2{
    text-align: center;
    color: #0e5487;
}

.locked-div{
    margin-top: 10px;
    text-align: center;
}

.log-in {
    margin-top: 20px;
}


.navbar {
    width: 100%;
    background-color: #0e5487;
}

#entry_content {
    width: 350px;
    height: 336px;
}

@media(min-width: 900px) {
    #journal-design_big {
        width: 375px;
    }

    #journal-design {
        width: 175px;
    }

    .color_picker {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .row {
        width: 55%;
        margin-left: 350px;
        justify-content: center;
    }

    .table_info {
        font-size:18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #0e5487;
    }


    .table_result {
        font-family: Arial, Helvetica, sans-serif;
        color: #0e5487;
        font-size: 15px;
    }

    .time_border {
        border: 15px solid #0e5487;
        border-radius: 100%;
        width: 500px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .moving_time {
        font-family: monospace;
        text-align: center;
        font-size: 100px;
        margin: 20px;
        margin-top: 150px;
        margin-bottom: 150px;
        color: #0e5487;
    }

    #entry_content {
        width: 445px;
        height: 336px;
    }

    .card{
        width: 450px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: 550px;
        margin-top: 25px;
    }

    .header {
        font-size: 40px;
    }

    .journal-name {
        font-size: 18px;
    }

    .table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    .navbar {
        width: 100%;
        background-color: #0e5487;
    }

    .form-control {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}


}