#journal-design{
    width: 175px;
}

#journal-design_big{
    width: 375px;
}

.journal-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;

}

#books {
    text-align: center;
}

.buttony {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

#pause, #resume {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.header, .moving_time {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: sans-serif;
}

.row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formy{
    margin-top: 10px;
    margin-bottom: 10px;
}

.goal-form {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.color {
    width: 30px;
}

.color:hover {
    border: solid 2px black;
}

.clicked {
    border: solid 2px black;
}

.row {
    width: 55%;
    margin-left: 350px;
    justify-content: center;
}

.color_picker {
    margin-top: 200px;
    margin-bottom: 200px;
}

#rowy {
    border: 1px solid;
}



.journal_creation, .journal_button{
    display: inline-block;
}

.fa-circle-play {
    width: 200px;
    height: 200px;
}

.moving_time {
    font-family: monospace;
    text-align: center;
    font-size: 100px;
    margin: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #5de627;
}

.time_border {
    border: 15px solid black;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.timer_body{
    background-color: black;
}

.greeting {
    margin-top: 20px;
    margin-left: 10px;
}

.spaced {
    margin: 100px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
